.converter-area {
  height: 200px;
  border: rgba(gray, 0.5) 5px dashed;
  border-radius: 20px;
  box-shadow: none;

  mat-icon {
    font-size: 32px !important;
    width: 32px !important;
    height: 32px !important;
  }
}
