<div class="app-content">
  <div class="filler"></div>
  <span class="mat-headline-2">SkyeDownloader</span>
  <span class="mat-headline-5 text-center">Download media from Twitter, Youtube, Reddit and many other websites.</span>
  <form [formGroup]="form" class="col-12 col-md-8 d-flex flex-column" ngForm>
    <mat-form-field class="w-100" color="accent" hideRequiredMarker>
      <mat-label>URL</mat-label>
      <input matInput placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" formControlName="url"
             (keyup.enter)="process()" [errorStateMatcher]="matcher">
      <mat-error
        *ngIf="form.controls.url.hasError('pattern') && !form.controls.url.hasError('required') && !form.controls.url.hasError('invalid')">
        You must enter a valid URL.
      </mat-error>
      <mat-error *ngIf="form.controls.url.hasError('required') && !form.controls.url.hasError('invalid')">
        You must enter a URL.
      </mat-error>
      <mat-error *ngIf="form.controls.url.hasError('invalid')">
        Could not process URL.
      </mat-error>
    </mat-form-field>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced options
        </mat-panel-title>
        <mat-panel-description>{{getAdvancedOptionsText()}}</mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <div>
          <mat-radio-group formControlName="type">
            <mat-radio-button *ngFor="let item of typeValues | keyvalue" value="{{item.key}}">{{item.value}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-divider class="d-md-inline"></mat-divider>
        <div>
          <mat-radio-group formControlName="quality">
            <mat-radio-button *ngFor="let item of qualityValues | keyvalue" value="{{item.key}}">{{item.value}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-divider class="d-md-inline"></mat-divider>
        <div class="align-items-center">
          <mat-radio-group formControlName="size">
            <mat-radio-button *ngFor="let item of sizeValues | keyvalue" value="{{item.key}}">{{item.value}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-divider class="d-md-inline"></mat-divider>
        <div>
          <mat-checkbox formControlName="preferFreeFormats">Prefer free formats</mat-checkbox>
        </div>
        <div>
          <button mat-stroked-button type="button" class="mt-2" (click)="resetOptions()">Reset options</button>
        </div>
      </div>
    </mat-expansion-panel>
    <div class="d-flex justify-content-center mt-4">
      <button mat-fab extended type="submit" color="accent" (click)="process()" [disabled]="processing"
              class="flex-grow-0">
        <mat-icon>download</mat-icon>
        DOWNLOAD
      </button>
    </div>
  </form>
  <div class="filler">
    <div *ngIf="processing" class="d-flex flex-row align-items-center gap-3 mt-4">
      <mat-spinner color="accent" diameter="32" [mode]="progressMode" [value]="progressValue"></mat-spinner>
      {{getProgressText()}}
    </div>
  </div>
</div>
