<div class="app-content">
  <div class="filler"></div>
  <span class="mat-headline-2 d-flex gap-2 align-items-center">
    <mat-icon class="icon-large">download</mat-icon>
    SkyeDownloader
  </span>
  <span class="mat-headline-5 text-center">Download media from Twitter, Youtube, Reddit and many other websites.</span>
  <form [formGroup]="form" class="col-12 col-md-8 d-flex flex-column" ngForm>
    <mat-form-field class="w-100" color="accent" hideRequiredMarker>
      <mat-label>URL</mat-label>
      <input matInput placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" formControlName="url"
             (keyup.enter)="process()" [errorStateMatcher]="matcher">
      <mat-error
        *ngIf="form.controls.url.hasError('pattern') && !form.controls.url.hasError('required') && !form.controls.url.hasError('invalid')">
        You must enter a valid URL.
      </mat-error>
      <mat-error *ngIf="form.controls.url.hasError('required') && !form.controls.url.hasError('invalid')">
        You must enter a URL.
      </mat-error>
      <mat-error *ngIf="form.controls.url.hasError('invalid')">
        Could not process URL.
      </mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-center">
      <mat-checkbox formControlName="convertAudio" class="me-3">
        Extract audio
      </mat-checkbox>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button mat-fab extended type="submit" color="accent" (click)="process()" [disabled]="processing"
              class="flex-grow-0">
        <mat-icon>download</mat-icon>
        DOWNLOAD
      </button>
    </div>
  </form>
  <div class="filler">
    <div *ngIf="processing" class="d-flex flex-row align-items-center justify-content-center gap-3 mt-4">
      <mat-spinner color="accent" diameter="32" [mode]="progressMode" [value]="progressValue"></mat-spinner>
      {{getProgressText()}}
    </div>
  </div>
</div>
