@use 'sass:map';
@use '@angular/material' as mat;

#root {
  display: flex;
  flex-direction: column;
}

mat-sidenav-container {
  flex-grow: 1;
}

.link-active {
  background-color: rgba(map-get(mat.$purple-palette, 700), 0.3);
}

.link-active span {
  color: map-get(mat.$purple-palette, 100);
}

mat-list-item.link-active:focus::before {
  background-color: inherit !important;
}

mat-nav-list {
  padding: 0;
}

.filler {
  flex-grow: 1;
  flex-basis: 0;
}
