@use 'sass:map';

#root {
  display: flex;
  flex-direction: column;
}

mat-sidenav-container {
  flex-grow: 1;
}

mat-list-item.link-active:focus::before {
  background-color: inherit !important;
}

mat-nav-list {
  padding: 0;
}

@mixin theme-light($primary) {
  .link-active span {
    color: map-get($primary, 800);
  }
}

@mixin theme-dark($primary) {
  .link-active span {
    color: map-get($primary, 100);
  }
}

@mixin theme($primary) {
  .link-active {
    background-color: rgba(map-get($primary, 700), 0.3) !important;
  }
}
